<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}ALKWebBundle{% endblock %}</title>
        <!-- Bootstrap -->

        {% stylesheets '@ALKWebBundle/Resources/public/bootstrap/css/bootstrap.min.css'
                       '@ALKWebBundle/Resources/public/bootstrap/css/fix.css'%}
                       <!-- 
                       '@ALKWebBundle/Resources/public/alix/css/a2lix_translation.css'  -->
            <link rel="stylesheet" href="{{ asset_url }}" media="screen" />
        {% endstylesheets %}
        {% block more_stylesheets %}
        {% endblock %}
        <link rel="alternate" type="application/rss+xml" title="ALK's {{ app.request.locale }} Articles" href="{{ url('alk_article_rss') }}" />
    </head>
    <body>
        {% block navbar %}
        {% endblock %}

        {% block top_menu %}
        {% endblock %}

        <div class="container">

        {% block flash %}
            {% for type in ['info', 'success', 'error', 'notice'] %}
                {% for message in app.session.flashbag.get(type) %}
                    <div class="alert alert-{{ type }}">
                        {{ message|trans }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endblock %}

        {% block body %}
        {% endblock %}
        </div>

<!-- 
            '@ALKWebBundle/Resources/public/alix/js/a2lix_translation.js' -->
        {% javascripts
            '@ALKWebBundle/Resources/public/bootstrap/js/bootstrap.min.js'
            'http://code.jquery.com/jquery-latest.js'
            %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascripts_more %}
        {% endblock %}
    </body>
</html>