{% extends 'ALKWebBundle::weblayout.html.twig' %}

{% block body %}
	<div class="hero-unit">

		<h1>Article/{{ article.id ? 'Edit' : 'Create' }}</h1>

<form action="{{ article.id ? path('alk_editarticle', { 'id': article.id }) : path('alk_newarticle') }}" method="post" {{ form_enctype(editForm) }} id="productForm">
    
    {{ form_row(editForm.title) }}
    {{ form_row(editForm.Body) }}
    {{ form_row(editForm.translations) }}
    

    {# Other render : 
    {{ form_widget(editForm.translations, {fields : [editForm.title, editForm.Body]}) }}
    #}

    {{ form_rest(editForm) }}    
        
    <p>
        <button type="submit">{{ article.id ? 'Edit' : 'Create' }}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('alk_web_homepage') }}">
            Back to the list
        </a>
    </li>
    {% if article.id %}
    <li class="delete">
        <form action="{{ path('alk_deletearticle', { 'id': article.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
    {% endif %}
</ul>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    a2lix_libJS.translationsTabsModule.init({
        activeLocale : "{{ app.request.locale }}"
    });
    a2lix_libJS.collectionModule.init({
        $context : $('#productForm'),
        callbacks : {
            afterAddEntry : function($newEntry) {
                a2lix_libJS.translationsTabsModule.init({
                    $context : $newEntry
                });
            }
        }
    });
</script>

	</div>

{% endblock %}