	<p>
		<h2><a href="{{ path('alk_article', {'id': article.id }) }}">{{ article.title }}</a></h2>
		<small> {% trans %}écrit le{% endtrans %} {{ article.Date|date("d/m/y") }}. {% if article.category|length > 0 %} {% trans %}Catégories{% endtrans %} : {% for tag in article.category %} {{ tag.name|lower }} {% endfor %}{% endif %}</small>
	</p>
	<p>
		{% if article.Body is not empty %}
			{{ article.Body|raw }}

		{% else %}
			{% trans %}Désolé, cette page n'existe pas encore dans votre langue.{% endtrans %}<br />
			{% trans %}Souhaitez-vous proposer une traduction ?{% endtrans %}
		{% endif %}
	</p>