{% extends 'ALKWebBundle::weblayout.html.twig' %}


{% block more_stylesheets %}
<style>
.pull-center {
	text-align: center;
}
</style>
{% endblock %}


{% block top_menu %}
<div class="container-fluid">
	<div class="row-fluid pull-center">
		{% for menu in menuTop %}
		<div class="span4">
			<h2>
				{% if menu.target == "alk_article" %}
				<a href="{{ path(menu.target, {'id': menu.targetid}) }}">
				{% elseif menu.target == "alk_listarticleswithtags" %}
				<a href="{{ path(menu.target, {'tag': menu.targetid}) }}">
				{% else %}
				<a href="please configure {{ menu.target }}">
				{% endif %}
					{{ menu.name }}
				</a>
			</h2>
			<img src="{{ menu.image ? menu.image : 'http://placehold.it/150x100.png' }}" alt="Titre" />
			<p>{{ menu.description }}</p>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}

{% block body %}
<div class="hero-unit">
    {% include 'ALKWebBundle:MyArticles:onearticle.html.twig' ignore missing with {'article': articleMenu} only %}
</div>
{% endblock %}