{% extends 'ALKWebBundle::weblayout.html.twig' %}

{% block body %}
	<div class="hero-unit">
		<p><h2>{{ article.title }}</h2> {% trans %}écrit le{% endtrans %} {{ article.Date|date("d/m/y") }}</p>
		<p>
			{% if article.Body is not empty %}
				{{ article.Body|raw }}
			{% else %}
				{% trans %}Désolé, cette page n'existe pas encore dans votre langue.<br />
				Souhaitez-vous proposer une traduction ?{% endtrans %}
			{% endif %}
		</p>
	</div>
	<p><ul>
	    <li><form action="{{ path('article_delete', { 'id': article.id }) }}" method="post">
	        {{ form_widget(delete_form) }}
	        <button type="submit">{% trans %}Supprimer{% endtrans %}</button>
	    </form></li>
	    <li><a href="{{ path('alk_editarticle', { 'id': article.id }) }}">{% trans %}Modifier{% endtrans %}</a></li>
	</p>

{% endblock %}