{% extends 'ALKWebBundle::weblayout.html.twig' %}

{% block body %}
	<div class="hero-unit">
		<p><h1>{{ article.Title }}</h1> écrit le {{ article.Date|date("d/m/y") }}</p>
		<p>{{ article.Body }}</p>
	</div>
	<p>
	    <form action="{{ path('article_delete', { 'id': article.id }) }}" method="post">
	        {{ form_widget(delete_form) }}
	        <button type="submit">Delete</button>
	    </form>
	</p>

{% endblock %}