{% extends 'ALKWebBundle::base.html.twig' %}

{% block navbar %}
<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="{{ path('alk_web_homepage') }}">{% trans %}Nom du projet{% endtrans %}</a>
      <div class="nav-collapse collapse">
        {% block changeLocale %}
            <div class="navbar-text pull-right">
              <p>
            {% trans %}Changer la langue{% endtrans %} :
            {% for locale in locales %}
            {% if locale == app.request.locale %}[{% endif %}
            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale' : locale})) }}">{{ locale }}</a>
            {% if locale == app.request.locale %}]{% endif %}
            {% endfor %}
          </p>
          </div>
        {% endblock %}
        {% block navbarmenu %}
        <ul class="nav">
          <li class="active"><a href="#">{% trans %}Accueil{% endtrans %}</a></li>
          <li><a href="#about">{% trans %}En savoir plus{% endtrans %}</a></li>
          <li><a href="#contact">{% trans %}Contact{% endtrans %}</a></li>
          <li><a href="{{ path('alk_newarticle') }}">{% trans %}Nouvel article{% endtrans %}</a></li>
          <li><a href="{{ path('menuholder') }}">{% trans %}Gérer les menus{% endtrans %}</a></li>
          {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path('alk_admin_logout') }}">{% trans %}Déconnexion{% endtrans %}</a></li>
          {% endif %}

        </ul>
        {% endblock %}
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
{% endblock %}